@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Londrina+Sketch&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  font-family: 'Nunito', sans-serif;
}

body {
  background-color: #ffcccc65;
}

table {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

table,
th,
td {
  background-color: #ffffff60;
  border: 2px solid #222222;
  border-collapse: collapse;
}

td {
  text-align: center;
  padding: 5px 10px;
}

td:not(.header, .subjNameHeader),
input {
  font-size: 18px;
}

input {
  color: #cc8888;
}

.inputTd {
  background-color: #ffffff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input {
  border: none;
  padding: 0;
  height: 30px;
  width: 100%;
  text-align: center;
  background-color: transparent;
}

.input:focus {
  outline: none;
}

.header {
  font-weight: 800;
  font-size: 14px;
}

.subjNameHeader {
  background-color: #ffbbbb50;
  text-align: left;
  margin-left: 200px;
  font-weight: 800;
  font-size: 20px;
}

.subjName {
  text-align: left;
  padding-right: 75px;
}

.resultHeader {
  width: 80px;
}

.resultCode {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  width: 30%;
  outline: none;
}

.btn {
  display: inline-block;
  background-color: #ffcccc95;
  margin: 0 auto;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
}

.btn:active {
  background-color: #ffcccc60;
}

.resultJson {
  margin-top: 15px;
  text-align: center;
}

h1 {
  text-align: center;
}
